<h2 class="center">Products</h2>
<hr />
<div class="row">
    <form class="col s12">
      <fieldset>
      <legend>Add A New Product</legend>
      <div class="row">
        <div class="input-field col s4">
          <input placeholder="Item Name" id="name" type="text" class="validate">
        </div>
        <div class="input-field col s2">
          <input placeholder="Price" id="price" type="text" class="validate">
        </div>
        <div class="input-field col s5">
          <input placeholder="Description" id="description" type="text" class="validate">
        </div>
        <div class="col s1 center">
    <a class="btn material-icons" id="newitem" type="submit" >add</a>
        </div>
      </div>
      </fieldset>
    </form>
 </div>
  <div class="row" id="product-list">
    <ul id="products">
    </ul>
  </div>
</div>